.form-component form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-component h2 {
    margin-bottom: 20px;
}

.form-component label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.form-component input {
    padding: 10px;
    border-radius: 5px;
    border: solid 2px white;
    background-color: transparent;
    margin-bottom: 20px;
    font-size: 16px;
    min-width: 250px;
    color: white;
}

.form-component button.btn-primary {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.42s ease;
    width: 250px;
    margin-bottom: 20px;
}

.form-component button.btn-secondary {
    background-color: transparent;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.42s ease;
    width: 250px;
    margin-bottom: 20px;
}

.form-component button.btn-primary:hover {
    background-color: rebeccapurple !important;
    color: white;
}

.form-component button.btn-secondary:hover {
    background-color: white !important;
    color: black;
}

.form-component .alternative-link {
    color: #fff;
    background-color: black;
    border: 2px solid white;
}

.form-component .alternative-link:hover {
    background-color: blue;
    color: white;
}